// Place all the styles related to the games controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 40px 30px;
}

#card-letter {
  border: 1px solid #119DA499;
  width: 70px;
  margin: 10px;
  text-align: center;
  padding: 13px 10px;
  background-color: #119DA4;
  color: white;
  box-shadow: 0px 4px 16px rgba(0,0,0,0.2);
  font-family: "Bree Serif";
  font-size: 24px;
}

.letters {
  display: flex;
}

h1 {
  font-family: "Poppins";
  font-weight: bolder;
  font-size: 40px;
  margin: 20px 10px;
}

.form-group {
  margin: 20px 10px;
}

p {
  font-family: "Poppins";
  font-weight: medium;
  margin: 10px;
}

.btn-success {
  border-radius: 3px;
}

#form-input {
  width: 50%;
  padding-left: 5px;
}
